.pet-card{
    display:grid;
    border : 2px solid black;
    height:450px;
    width: 300px;
    border-radius: 25px 25px 25px 25px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    background-color: lightseagreen;
    grid-template-areas: 
    "name"
    "poza"
    "poza"
    "poza"
    "poza"
    "buttons"
}

p{
    position: relative;
    left:10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

img{
    height: 300px;
    border-radius: 10px 10px 10px 10px;
    grid-area:poza 
}
.pet-card:hover  .pet-type
{
    display: block;
}

.name{grid-area: name}
.pet-card:hover  .pet-details
{
    display: block;

}
.pet-card:hover .pet-zone{
    display: block;

}
.pet-card:hover .pet-reward {
    display: block;

}
.pet-card:hover img{
    display: none;
}

.pet-details,.pet-type,.pet-zone,.pet-reward{
    display: none;
}

.buttons{
    display: inline-flex;
    grid-area: buttons;
}

input[type=submit]{
    margin:15px 5px;
    border-radius: 25px 25px 25px 25px;
    background-color: rgba(12, 236, 225, 0.363);
    border: solid 2px rgba(21, 82, 79, 0.8);
    width:140px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 700;
}