/* header {
    position: absolute;
    height: 100px;
    width: 100%;
}

ul {
    list-style-type: none;
    width: 100%;
}

li {
    margin: 5px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    border: solid black 2px;
    border-radius: 25px 25px 25px 25px;
}

.logo {
    height: 100%;
}


.icons {
    position: relative;
    height: 100%;
    right: 30px;
    float: right;
    display: inline-flex;
}

.icon {
    position: relative;
    top: 10px;
    height: 50%;
    padding: 10px;
}

.hidden {
    position: fixed;
    top: -1000px;
    right: -1000px;
}

.icon2{
    position: relative;
    height: 100%;
}

.NotificationsShow {
    position: fixed;
    right: 145px;
    top: 80px;
    text-align: right;
    -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.NotificationNotShow {

    position: fixed;
    right: 145px;
    top: 80px;
    text-align: right;
    -webkit-animation: swing-out-top-bck 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
    animation: swing-out-top-bck 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

.ProfileShow {

    text-align: right;
    position: fixed;
    right: 60px;
    top: 80px;
    width: 200px;
    height: 100px;
    -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.NotProfileShow {

    text-align: right;
    position: fixed;
    right: 60px;
    top: 80px;
    width: 200px;
    height: 100px;
    -webkit-animation: swing-out-top-bck 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
    animation: swing-out-top-bck 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

.top-bar {
    position: absolute;
    top: 100%;
    right: 0%;
}



@-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }

  @-webkit-keyframes swing-out-top-bck {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
    100% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
  }
  @keyframes swing-out-top-bck {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
    100% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
  }


  @media only screen and (max-width:900px)
{
    .logo{
        display: none;
    }
    
} */




