header{
    /* background-color: red;
    color:white; */
    position: absolute;
    height:12%;
    top:0%;
    left:0px;
    right:0px;
}
#logo{
    height: 100%;
    width:20%;
}

#login{
    position:relative;
    top:25%;  
    float: right;
}
#login-and-forget{
 position:relative;
 top:10px;
}
footer{
    background-color: violet;   
    color: black
}
#pet-friendly{
    position: fixed;
    top:30%;
    left:5%;
    height: 40%;
}

.hiddenregister{
    position:fixed;
    top:30%;
    right: -100%;
    text-align:right;
    float: right;
}
#ma-ta{
    position: absolute;
    top:140%;
    left:60%;
}
.notHiddenRegister{
    position:fixed;
    top:30%;
    right: 10%;
    text-align:right;
    float: right;
}

@media only screen and (max-width:900px)
{
    #logo{
        display: none;
    }
    
}
