* {
  margin: 0;
  padding: 0;
}

header {
  grid-area: header;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "logo . . icons";
}

ul {
  list-style-type: none;
  z-index: 1;
}

li {
  position: relative;
  color: black;
  background-color: rgb(12, 236, 225);
  border: solid 2px rgb(21, 82, 79);
  /* background-color: rgba(12, 236, 225); */
  /* background-color: lightseagreen;
  border: solid 2px rgba(21, 82, 79); */
  /* border: 2px solid whitesmoke; */
  border-radius: 15px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  /* height: 30px; */
  line-height: 30px;
  width: 250px;

}

li button {
  position: relative;
  height: 30px;
  width: 250px;
  /* top: -2px; */
  /* left:-2px; */
  border-radius: 15px;
  background-color: rgb(12, 236, 225);
  /* border: solid 2px rgb(21, 82, 79); */
  border:0px;
  color: black;

  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  cursor: pointer;
}

main {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'map cards'

}


.icons img {
  border-radius: 50%;
  position: relative;
  top:10%;
  height: 7vh;
  line-height: 10vh;
  vertical-align: middle;
  justify-content: center;
}


body {
  height: 100hv;
  display: grid;

  grid-template-rows: 10vh 90vh;
  grid-template-areas:
    "header"
    "main";
}

.logo {
  grid-area: logo;
  height: 10vh;
}


.icons {

  position: relative;
  grid-area: icons;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "form not profile";

}

::-webkit-scrollbar {
  width: 0px;
}

.cards {

  grid-area: cards;
  overflow: auto;
  overflow-y: scroll hidden;
  display: grid;
  height: 90vh;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

#mapid {
  grid-area: map;
  /* display: none; */
}

.hidden {
  display: none;
  grid-area: form;
  background-color: lightgray;
}







.login-form {
  grid-area: icons;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "mail log"
    "pwd  sig";
}

#mail {
  grid-area: mail;
}

#pwd {
  grid-area: pwd;
}

.login {
  grid-area: log
}

.signup {
  grid-area: sig
}





.show-form input[type=text],
.show-form input[type=number],
.show-form textarea,
.hide-form input[type=text],
.hide-form input[type=number],
.hide-form textarea,select {
  border-radius: 25px 25px 25px 25px;
  background-color: rgba(12, 236, 225, 0.363);
  border: solid 2px rgba(21, 82, 79, 0.8);
  height: 30px;
  width: 250px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.show-form {
  position: absolute;
  /* bottom: 25%;
  right: 25%; */
  z-index: 10;
    background-color: white;
    border: solid black 2px;
    border-radius: 80px 25px 80px 15px;
    padding: 20px 0px 10px 0px;
    margin: 0px 10vw;
    position: absolute;
    top: 10vh;
    right: 0;
    transform: translate(0, 0);
    min-width: 300px;
    width: 60vw;
    height: 55vh;
    /* z-index: 1; */
    align-items: center;
    text-align: center;
  transform: translate(-50%, -50%);
  -webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.show-not {
  position: absolute;
  top: 80px;
  right: 160px;
  -webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.show-profile {
  position: absolute;
  top: 80px;
  right: 40px;
  -webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.hide-form {
  position: absolute;
  /* bottom: 25%;
  right: 25%; */
  z-index: 10;
    background-color: white;
    border: solid black 2px;
    border-radius: 80px 25px 80px 15px;
    padding: 20px 0px 10px 0px;
    margin: 0px 10vw;
    position: absolute;
    top: 10vh;
    right: 0;
    transform: translate(0, 0);
    min-width: 300px;
    width: 60vw;
    height: 55vh;
    align-items: center;
    text-align: center;
  transform: translate(-50%, -50%);
  grid-area: form;
  -webkit-animation: flip-out-ver-left 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: flip-out-ver-left 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

.hide-not {
  position: absolute;
  top: 80px;
  right: 160px;
  -webkit-animation: flip-out-ver-left 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: flip-out-ver-left 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.hide-profile {
  position: absolute;
  top: 80px;
  right: 40px;
  -webkit-animation: flip-out-ver-left 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: flip-out-ver-left 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* *



PET CARD
 


*/


.pet-card{
  right:-15%;
  display:grid;
  position: relative;
  border : 2px solid black;
  width:250px; 
  height: 375px;
  border-radius: 80px 25px 80px 15px ;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
  background-color: rgba(12, 236, 225, 0.363);
  border: solid 2px rgba(21, 82, 79, 0.8);
  grid-template-areas: 
  "name"
  "poza"
  "poza"
  "poza"
  "poza"
  "buttons"
}

p{
  position: relative;
  left:10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 15px;
  pointer-events: none;
}

.contact-info{
  display:none;
}
.pet-card > img{
  width:250px;
  height:100%;
  border-radius: 80px 25px 80px 15px ;
  grid-area:poza ;
  pointer-events: none;
}
.pet-card:hover  .pet-type
{
  display: block;
  pointer-events: none;
}
.pet-card:hover  .nr_tel
{
  display: block;
  pointer-events: none;
}
.pet-card:hover  .email
{
  display: block;
  pointer-events: none;
}

.name{grid-area: name;
text-align: center;
pointer-events: none;
}

.pet-card:hover  .pet-details
{
  display: block;
  pointer-events: none;

}
.pet-card:hover .pet-zone{
  display: block;
  pointer-events: none;

}
.pet-card:hover .pet-reward {
  display: block;
  pointer-events: none;

}
.pet-card:hover img{
  display: none;
  pointer-events: none;
}

.pet-details,.pet-type,.pet-zone,.pet-reward{
  display: none;
  pointer-events: none;
}

.pet-card > .buttons{
  display: inline-flex;
  grid-area: buttons;

}
.pet-card:hover  .contact-info
{
  display: block;
  pointer-events: none;
}

/* input[type=submit] */
.buttons button{
  margin:10px 2px;
  border-radius: 80px 25px 80px 15px ;
  background-color: rgba(12, 236, 225, 0.363);
  border: solid 2px rgba(21, 82, 79, 0.8);
  width:115px;
  height: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 13px;
  font-weight: 700;
}

input[type=file]::-webkit-file-upload-button{
  margin:0px 5px;
  border-radius: 80px 25px 80px 15px ;
  background-color: rgba(12, 236, 225, 0.363);
  border: solid 2px rgba(21, 82, 79, 0.8);
  width:140px;
  height: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: 700;
}

input[type=submit]{
  margin:10px 2px;
  border-radius: 80px 25px 80px 15px ;
  background-color: rgba(12, 236, 225, 0.363);
  border: solid 2px rgba(21, 82, 79, 0.8);
  width:200px;
  height: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 13px;
  font-weight: 700;
}
input[type=text]{
  margin:10px 2px;
  border-radius: 80px 25px 80px 15px ;
  background-color: rgba(12, 236, 225, 0.363);
  border: solid 2px rgba(21, 82, 79, 0.8);
  width:200px;
  height: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 13px;
  font-weight: 700;
  text-align:center;
  font-size: 20px;
}

/*


END PET CARD


*/

.changeLocation-show{
  position: absolute;
  padding-top:100px;
  z-index: 10;
  background-color: white;
  left:50vw;
  width: 25vw;
  height: 45vh;
  border:2px solid black;
  border-radius: 80px 25px 80px 15px;
  align-items: center;
  text-align: center;
  transform: translate(-50%,0);
  pointer-events: initial;
  -webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.found-show{
  padding-top:100px;
  position: absolute;
  z-index: 10;
  left:50vw;
  background-color: white;
  width: 25vw;
  height: 45vh;
  border:2px solid black;
  border-radius: 80px 25px 80px 15px;
  align-items: center;
  text-align: center;
  transform: translate(-50%,0);
  -webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.changeLocation-hidden{
  position: absolute;
  padding-top:100px;
  z-index: 10;
  background-color: white;
  left:50vw;
  width: 25vw;
  height: 45vh;
  border:2px solid black;
  border-radius: 80px 25px 80px 15px;
  align-items: center;
  text-align: center;
  transform: translate(-50%,0);
  pointer-events: none;
  -webkit-animation: flip-out-ver-left 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: flip-out-ver-left 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

.found-hidden{ 
  padding-top:100px;
  position: absolute;
  z-index: 10;
  left:50vw;
  background-color: white;
  width: 25vw;
  height: 45vh;
  border:2px solid black;
  border-radius: 80px 25px 80px 15px;
  align-items: center;
  text-align: center;
  transform: translate(-50%,0);
  -webkit-animation: flip-out-ver-left 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: flip-out-ver-left 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

@-webkit-keyframes flip-out-ver-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    opacity: 0;
  }
}

@keyframes flip-out-ver-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    opacity: 0;
  }
}

@-webkit-keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
    transform: rotateY(80deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);

    opacity: 1;
  }
}

@keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
    transform: rotateY(80deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}
